{{#if error_msg}}
  <script>
  Swal.fire({
    position: 'top',
    icon: 'error',
    title: '{{ error_msg }}',
  })
  </script>
{{/if}}

{{#if success_msg}}
<script>
  Swal.fire({
    position: 'top',
    icon: 'success',
    title: '{{ success_msg }}',
    showConfirmButton: false,
    timer: 1500
  })
</script>
{{/if}}

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ this.message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {{/each}}
{{/if}}