<div class="mx-auto my-5" id="new-dividend-region">
  {{> message}}
  <form action="/stocks/{{ symbol }}/dividend/new" method="POST">
    <label for="symbol" class="form-label">股票代號：</label>
    <div class="input-group">
      <input type="text" class="form-control" id="symbol" aria-describedby="basic-addon3" name="symbol" value="{{ symbol }}"
        readonly="readonly" required>
    </div>
    
    <label for="name" class="form-label mt-3">股票名稱：</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="name" aria-describedby="basic-addon3" name="name" value="{{ name }}"
        readonly="readonly" required>
    </div>

    <label for="value" class="form-label">配發現金：</label>
    <div class="input-group mb-3">
      <input type="number" class="form-control" id="value" aria-describedby="basic-addon3" name="value" min="0">
    </div>

    <label for="value" class="form-label">配發股數：</label>
    <div class="input-group mb-3">
      <input type="number" class="form-control" id="value" aria-describedby="basic-addon3" name="shares" min="0">
    </div>

    <label for="date" class="form-label">時間：</label>
    <div class="input-group mb-3">
      <input type="datetime-local" class="form-control" id="date" aria-describedby="basic-addon3" name="date" required>
    </div>

    <button type="submit" class="btn btn-dark mt-3">儲存</button>
    <a href="/stocks/{{ symbol }}/new" style="text-decoration: none;">
      <button type="button" class="btn btn-link mt-3 mx-2" onclick="history.back()">
        取消
      </button>
    </a>
  </form>
</div>