<div class="my-5" id="forgot-password">
  <form action="/users/password/new" method="POST">
    <div class="d-flex flex-column align-items-center mt-5" id="login">
      <h3>忘記密碼</h3>
      <div class="mt-2 form-items">
        {{> message}}
        <label for="email" class="form-label">Email</label>
        <div class="input-group mb-3">
          <input type="email" class="form-control" id="email" name="email" aria-describedby="basic-addon3"
          placeholder="請輸入 Email" required>
        </div>
      </div>
      <button type="submit" class="btn btn-dark mt-4 px-5" style="border-radius: 50px;">
        確定
      </button>
      <a href="/users/login" class="mt-4">取消</a>
    </div>
  </form>
</div>