<form action="/users/login" method="POST">
  <div class="d-flex flex-column align-items-center mt-5" id="login">
    <h3>會員登入</h3>
    <div class="mt-2 form-items">
      {{> message}}
      <label for="email" class="form-label">Email</label>
      <div class="input-group mb-3">
        <input type="email" class="form-control" id="email" name="email"
        aria-describedby="basic-addon3" placeholder="請輸入 Email" required>
      </div>
      <label for="password" class="form-label">密碼</label>
      <div class="input-group mb-3">
        <input type="password" class="form-control" id="password" name="password"
        aria-describedby="basic-addon3" placeholder="請輸入密碼" required>
      </div>
    </div>
    <button type="submit" class="btn btn-dark mt-4 px-5" style="border-radius: 50px;">
      登入
    </button>
    <div class="mt-4 d-flex">
      <a href="/users/signup">前往註冊</a>
      <span class="mx-3">|</span>
      <a href="/users/password/new">忘記密碼</a>
    </div>
  </div>
</form>