<form action="/users/login" method="POST">
  <div class="d-flex flex-column align-items-center mt-5">
    <h3>會員登入</h3>
    <div class="mt-2" style="width: 20%;">
      {{> message}}
      <label for="email" class="form-label">Email</label>
      <div class="input-group mb-3">
        <input type="email" class="form-control" id="email" name="email"
        aria-describedby="basic-addon3" required>
      </div>
      <label for="password" class="form-label">密碼</label>
      <div class="input-group mb-3">
        <input type="password" class="form-control" id="password" name="password"
        aria-describedby="basic-addon3" required>
      </div>
    </div>
    <button type="submit" class="btn btn-dark mt-4" style="width: 20%; border-radius: 50px;">
      登入
    </button>
    <a href="/users/signup" class="mt-4">前往註冊</a>
  </div>
</form>