<div class="my-5" id="new-region">
  {{> message}}
  <form action="/stocks/{{#if theSymbol}}{{ symbol }}{{/if}}/new" method="POST">
    <label for="symbol" class="form-label">股票代號：</label>
    <div class="input-group">
      <input type="text" class="form-control" id="symbol" aria-describedby="basic-addon3" 
      name="symbol" value="{{ symbol }}" {{#if theSymbol}} readonly="readonly" {{/if}}
      onblur="searchName()" required>
    </div>

    <div style="color: #c81921;" class="mt-1 err-msg"></div>

    <label for="name" class="form-label mt-3">股票名稱：</label>
    {{#if newSymbol}}
     <span style="font-size: small;">(輸入代號自動搜尋名稱)</span>
    {{/if}}
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="stock-name" aria-describedby="basic-addon3" 
      name="name" value="{{ name }}" readonly="readonly" required>
    </div>

    <div class="input-group mb-3">
      <label for="method" class="form-label">買入/賣出：</label>
      <select class="form-select" id="method" style="width: 100%;" name="method">
        <option selected value="買入">買入</option>
        <option value="賣出">賣出</option>
      </select>
    </div>

    <label for="value" class="form-label">總額：</label>
    <div class="input-group mb-3">
      <input type="number" class="form-control" id="value" aria-describedby="basic-addon3" min="0" name="value" required>
    </div>

    <label for="shares" class="form-label">股數：</label>
    <div class="input-group mb-3">
      <input type="number" class="form-control" id="shares" aria-describedby="basic-addon3" min="0" name="shares" required>
    </div>

    <label for="date" class="form-label">時間：</label>
    <div class="input-group mb-3">
      <input type="datetime-local" class="form-control" id="date" aria-describedby="basic-addon3" name="date" required>
    </div>

    <div class="d-flex justify-content-between">
      <div>
        <button type="submit" class="btn btn-dark mt-3">儲存</button>
        <button type="button" class="btn btn-link mt-3 mx-2" onclick="history.back()">
          取消
        </button>
      </div>
      {{#if theSymbol}}
      <a href="/stocks/{{ symbol }}/dividend" style="text-decoration: none;">
        <button type="button" class="btn btn-link mt-3 ms-2">
          新增股利 →
        </button>
      </a>
      {{/if}}
    </div>

    <script>
      function searchName() {
        document.querySelector('#stock-name').value = '搜尋中...'
        const symbol = document.querySelector('#symbol').value.trim()
        axios.get(`/api/search/${symbol}`)
          .then(response => {
            const data = response.data
            if (data.message === "symbol didn't exist") {
              document.querySelector('.err-msg').innerText = `找不到股票代號: ${symbol}`
              document.querySelector('#stock-name').value = ''
              return
            }
            document.querySelector('#stock-name').value = data.name
            document.querySelector('.err-msg').innerText = ''
          }).catch(err => console.warn(err))
      }
    </script>
  </form>
</div>