<div class="my-5" id="forgot-password">
  <form action="/users/password/reset" method="POST" onsubmit="return checkform()">
    <div class="d-flex flex-column align-items-center mt-5" id="login">
      <h3>重設密碼</h3>
      <div class="mt-2 form-items">
        {{> message}}
        <label for="password" class="form-label">密碼</label>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="password" name="password" aria-describedby="basic-addon3"
            placeholder="請輸入新密碼" required>
        </div>
        <label for="confirm-password" class="form-label">確認密碼</label>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="confirm-password" name="confirmPassword"
            aria-describedby="basic-addon3" placeholder="確認密碼" required>
        </div>
        <input type="hidden" value="{{ id }}" name="id">
      </div>
      <button type="submit" class="btn btn-dark mt-4 px-5" style="border-radius: 50px;">
        確定
      </button>
    </div>
  </form>
  <script>
    function checkform() {
      const password = document.querySelector('#password').value
      const confirmPassword = document.querySelector('#confirm-password').value
      if (password !== confirmPassword) {
        Swal.fire({
          position: 'top',
          icon: 'error',
          title: '密碼與確認密碼不相符！',
        })
        return false
      }
    }
  </script>
</div>