html, body {
  margin: 0;
  padding: 0;
}

#login, #signup {
  min-width: 300px;
}

#login .form-items, #signup .form-items {
  width: 65%;
}

#new-region, #new-dividend-region {
  width: 65%;
  min-width: 280px;
  margin: 0 auto;
}

#index-region {
  min-height: 650px;
  max-width: 900px;
  min-width: 468px;
  margin: 2rem auto 0 auto;
  padding: 0 1rem;
}

#index-region .content, #detail-region .content {
  min-height: 550px;
}

#index-region .card {
  width: 95%;
  max-width: 30rem;
  min-width: 26rem;
  padding: 0 0.5rem;
}

#detail-region {
  margin: 2rem auto 0 auto;
  padding: 0 1rem;
  max-width: 650px;
  min-width: 468px;
  min-height: 650px;
}

#realized-profit {
  min-height: 650px;
  max-width: 900px;
  min-width: 468px;
  margin: 2rem auto 0 auto;
  padding: 0 1rem;
}

#realized-profit .content {
  min-height: 600px;
}

#realized-profit .content .card {
  width: 40%;
  min-width: 20rem;
  padding: 0 0.5rem;
}

.fa-trash-can {
  color: #3B3B3B;
}

@media screen and (min-width: 486px) {
  #login .form-items, #signup .form-items {
    width: 327px;
  }
  #index-region .card {
    width: 400px;
  }
  #new-region, #new-dividend-region {
    width: 65%;
    max-width: 330px;
  }
}

@media screen and (min-width: 769px) {
  #index-region {
    padding: 0 1rem;
  }
  #index-region .card {
    width: 55%;
  }
}

@media screen and (min-width: 991px) {
  .navbar ul {
    margin-bottom: 0.5rem;
  }
}